footer {
    border-top: 1px solid var(--color-border);
    margin-top: 3rem;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    font-size: 0.9rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 1.25rem;
    margin: 0;
    padding: 0;
}

@media (max-device-width: 700px){
    footer {
        padding: 0 1.50rem;
    }
}